/* 
GLOBAL STYLES 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100vh;
}

/* 
GRID STYLES
*/


/* parent */

.grid-container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(2, 1fr) 5fr 1fr;
    gap: 15px;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

/* children*/

.block {
    display: grid;
    border-radius: .5rem;
    padding: 1rem;
}

.header {
    grid-column: 1 / 3;
    background-color: rgb(20, 78, 69);
}

.nav {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: rgb(99, 21, 172);
}

.sidebar {
    grid-row: 2 / 4;
    background-color: rgb(28, 113, 211);
    
}

.article {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: rgb(150, 42, 172);
}

.article > p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    text-align: left;
    padding-top: 0.5rem;
}

.footer {
    grid-column: 1 / 3;
    background-color: rgb(72, 75, 74);
}

